{{ define "collection-subpage"}}
{{$PageData := index .DeepDataMerge.Collections .PageURL}}
{{ template "collections_subpage_head" .}}

<body>
    {{template "header" .}}

        <div class="container">
            <!-- <div class="collections"> -->
                {{$CollectionSet := index .DeepDataMerge.CollectionsMap .PageURL}}
                {{range $CollectionSet }}
                <a class="post-card" href="/{{.CompleteURL}}">
                    <!-- <a href="/{{.CompleteURL}}"> -->
                        <h2 class="post-card-title">{{.Frontmatter.Title}}</h2>
                        <p class="post-card-description">{{.Frontmatter.Description}}</p>
                        <p class="post-card-date">{{.Frontmatter.Date}}</p>
                    <!-- </a> -->
                </a>

                <!-- <div class="post-card">
                </div> -->
                {{end}}
            <!-- </div > -->
        </div>

    {{template "footer" .}}
</body>

</html>

{{ end }}
