{{ define "design"}}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
{{ template "head_gallery" .}}

<body>

    <!-- this is the header -->
    {{template "header" .}}

        <div class="container">

            {{ if eq $PageData.Frontmatter.Title "home" }}
            {{else}}
            <div class="post-description">
                <h1>{{ $PageData.Frontmatter.Title }}</h1>
            </div>
            {{end}}

            <!-- this is the body -->
            <section id="images">
            {{$PageData.Body}}
            </section>

        </div>

    {{template "footer" .}}

</body>

</html>

{{ end}}
