{{ define "posts"}}
{{$PageData := .TemplateData}}
{{ template "collections_subpage_head" .}}

<body>
    {{template "header" .}}
    <div class="container">
            {{range $PostDate, $Post := .DeepDataMerge.Posts}}
            <a class="post-card" href="{{$Post.CompleteURL}}">
                <h3 class="post-card-title">{{$Post.Frontmatter.Title}}</h3 >
                <p class="post-card-description">{{$Post.Frontmatter.Description}}</p >
                <p class="post-card-date">{{$Post.Frontmatter.Date}}</p >
            </a>
            {{end}}
    </div>

    {{template "footer" .}}
</body>

</html>

{{ end}}
