/* Color Scheme */
/* @media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #5990ac;
        --color-primary-dim: #5990ac7f;
        --color-text: #ffffff;
        --color-text-dim: #ffffff7f;
        --color-background: #000000;
        --color-background-dim: #4a4a4a5a;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #5990ac;
        --color-primary-dim: #5990ac7f;
        --color-text: #000000;
        --color-text-dim: #5a5a5a;
        --color-background: #ffffff;
        --color-background-dim: #a5a5a57f;
    }
} */

@media (prefers-color-scheme: light) {
    :root {
        --color-heading: #000000;
        --color-subheading: #606060;

        --color-text: #10100ed0;
        --color-text-dim: #58585870;
        --color-text-low: #10100e20;

        --color-background: #ffffff;
        --color-background-dim: #b0b0b07a;
        --color-background-low: #ffffff50;

        --inline-code-bg: #161618;

        --color-primary: #00fb6b;
        --color-primary-dim: #00fb6b7f;
        --inline-code-bg: #f9f8f9;

        /* dimensions */
        --body-width: 45rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-heading: #ffffff;
        --color-subheading: #a0a0a0;

        --color-text: #ffffffc0;
        --color-text-dim: #ffffff5a;
        --color-text-low: #ffffff19;

        --color-background: #0b0c0d;
        --color-background-dim: #2020207f;
        --color-background-low: #10100e50;

        --inline-code-bg: #161618;

        --color-primary: #00fb6b;
        --color-primary-dim: #00fb6b7f;
        --inline-code-bg: #262628;

        /* dimensions */
        --body-width: 45rem;
    }
}

/* @font-face {
    font-family: AzeretMono;
    src: url(/static/fonts/Mono/AzeretMono.ttf);
}

@font-face {
    font-family: AzeretMonoItalic;
    src: url(/static/fonts/Mono/AzeretMonoItalic.ttf);
} */

@font-face {
    font-family: Inter;
    src: url(/static/fonts/Sans/InterVariable.ttf);
}

@font-face {
    font-family: InterItalic;
    src: url(/static/fonts/Sans/InterVariable-Italic.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/static/fonts/Sans/InterVariable.ttf);
    font-feature-settings:
        "liga" 1,
        "calt" 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: Inter;
    }
}

@font-face {
    font-family: InterItalic;
    src: url(/static/fonts/Sans/InterVariable-Italic.ttf);
    font-feature-settings:
        "liga" 1,
        "calt" 1;
}

.anchor {
    opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-family: AzeretMono, monospace;
    font-weight: 550;

    &:hover {
        .anchor {
            opacity: 1;
        }
    }

    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    /* margin-top: 3rem; */
    /* margin-bottom: 0.4rem; */
}

h2 {
    font-size: 1.6rem;
    /* margin-top: 2.5rem;
    margin-bottom: 0.4rem; */
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.2rem;
}

* + h1,
* + h2 {
    margin-top: 3.7rem;
}

* + h3,
* + h4,
* + h5 {
    margin-top: 3rem;
}

* + p {
    margin-top: 2rem;
}

h2 + p,
h3 + p,
h4 + p {
    margin-top: 1rem;
}

p {
    font-family: Inter;

    display: block;
    /* margin-top: 1rem;
    margin-bottom 0.4rem; */
    font-size: 1.2rem;
    line-height: 1.5;
}

@media (max-width: 900px) {
    p {
        font-size: 1.1rem;
    }
}

a {
    font-style: none;
    color: var(--color-primary);
    font-family: InterItalic;
}

img {
    width: 100%;
    border-radius: 8px;

    margin-left: auto;
    margin-right: auto;
}

/* ol,
ul {
    line-height: 1.5;
    margin: 1rem 1rem;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
    list-style-position: inside;
} */

ol,
li {
    & > * {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    margin-left: 1rem;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

b,
strong {
    font-weight: 500;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
    overflow-x: auto;
    min-width: 100%;
    border: 1px solid color-mod(var(--color) alpha(30%));
    margin-top: 1rem;
}

table caption {
    margin-top: 1rem;
}

td,
th {
    border: 1px solid color-mod(var(--color) alpha(30%));
    padding: 0.5rem;
    text-align: left;
}

th {
    font-weight: 500;
}

td:only-child {
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    margin-bottom: 1rem;
}

.video-container iframe {
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

iframe {
    /* width: 100%; */
    border-radius: 8px;
    /* height: 25em; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-bottom: 2rem; */
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: none;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* iframe stylings */
.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

pre > code {
    overflow-x: scroll;
    display: block;
    white-space: pre;
}

blockquote,
q {
    border-left: 5px var(--color-primary) solid;
    margin-left: 0;
    padding: 10px;
    padding-left: 20px;

    margin-top: 1rem;
    margin-bottom: 1rem;

    color: var(--color-heading);
}

pre code {
    color: var(--color-heading);
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-family: monospace;
    /* background: ; */
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: 8px;
    font-size: 1.3rem;
}

pre > code {
    color: var(--color-heading);
    display: block;
    text-indent: 0;
    white-space: inherit;
}

pre code.hljs {
    color: var(--color-heading);
    font-family: monospace;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga" on;
    line-height: 1.3;
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 0.5rem; */
}

/*.hljs-copy-wrapper {*/
/* margin: 0; */
/* margin-top: 0.2rem; */
/* margin-bottom: 0.2rem; */
/*}*/

p > code,
li > code,
dd > code,
td > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
a > code {
    font-family: Iosevka, monospace;
    color: var(--color-heading);
    background-color: var(--inline-code-bg);
    border: 1px solid var(--color-text-low);
    word-wrap: break-word;
    font-size: inherit;
    box-decoration-break: clone;
    padding: 0.1rem;
    padding-inline: 0.4rem;
    border-radius: 0.35rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

/* details {
    /*margin-top: 1rem;*/
    color: var(--color-subheading);
    font-size: 0.95rem;
    font-family: Inter, sans-serif;
    font-weight: 550;
    user-select: none;
    -webkit-user-select: none;

    transition:
        padding 300ms ease-in-out,
        background-color 300ms ease-in-out;

    & > ul,
    & > ol {
        font-weight: 350;
        font-size: 1rem;
        /* margin-left: 2rem; */
    }
}

sumamry {
    color: var(--color-heading);
    font-weight: 500;
    opacity: 1;
    font-size: 1.5rem;
}

details > img {
    width: 70%;
}

details {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

details > details {
    margin-left: 1rem;
} */
