.img-grid {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 10px; */
    /* margin-top: 1rem; */
    padding: 0.5rem;
    columns: 2;
    & > figure > img {
        margin-bottom: 10px;
        border-radius: 0;
    }
}
