html {
    background-color: var(--color-background);
}

body {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
    color: var(--color-text);
}

.container {
    flex-direct: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--body-width);
    width: var(--body-width);

    flex-grow: 1;
}

header,
footer {
    margin: 1rem 0 1rem;
}

footer {
    height: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    bottom: 0;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--body-width);
}

nav {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#menu_icon {
    display: none;
    scale: 1.2;
}

.links {
    margin-left: auto;
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1.1rem;

    opacity: 1;

    transition:
        opacity 150ms ease-in-out,
        z-index 150ms ease-in-out;
}

.links a {
    text-decoration: none;

    /* transition: all 150ms ease-in-out; */

    &:hover {
        color: var(--color-heading);
    }
}

.hsp-logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100px;
    margin: 0;
}

.navitem {
    color: var(--color-text);
}

.search-input {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--body-width);
}

.search {
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--body-width);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#searchSiteInput {
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: 50px;
    border: 2px var(--color-text-dim) solid;

    box-shadow: 0 0 0 2px var(--color-background-dim);

    &:focus {
        outline: none;
        border: 2px var(--color-primary) solid;
    }
}

.site_search_result {
    width: auto;
    position: absolute;
}

.home-featured {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.home-nav {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    &>p>a {
        color: var(--color-heading);

        text-decoration: none;
    }

    &>p {
        margin: 0;

        margin-top: 0.8rem;

        transition: all 150ms ease-in-out;

        border: 2px var(--color-background-dim) solid;
        background-color: var(--color-background-dim);
        padding: 0.8rem;
        border-radius: 8px;
    }

    &>p:hover {
        scale: 1.02;

        border: 2px var(--color-primary) solid;
    }
}

@media (min-width: 901px) {
    .links {
        margin-left: auto;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        font-size: 1.1rem;
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .container {
        margin-top: 2rem;
        width: auto;
        margin-inline: 5%;
    }

    header {
        margin-inline: 5%;
        width: auto;
    }

    nav {}

    .hsp-logo {
        position: absolute;
        z-index: 1000;
    }

    #menu_icon {
        display: block;
        position: relative;
        z-index: 100;
        /* transform: translateX(70vh) translateY(25px); */

        transform: translateY(20px);
    }

    .links {
        position: fixed;
        display: none;
        opacity: 0;
        z-index: -1;

        right: 0;
        left: 0;
        bottom: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        &>a {
            font-size: 2rem;
            font-weight: 500;
        }
    }
}