.core-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 0.5rem;

    background-color: var(--color-background-dim);
    border-radius: 8px;
    padding: 0.8rem;

    border: 2px solid var(--color-background-dim);

    transition: all 150ms ease-in-out;

    & > * {
        margin: 0;
        padding: 0;
    }

    & > p {
        font-size: 1rem;
        font-family: InterItalic, sans-serif;
    }

    &:hover {
        border: 2px solid var(--color-primary);
    }
}
