{{define "footer"}}
<footer>
    <div style="text-align: center;">
        <p style="margin-top:2rem;">Follow us on our socials!
            <a href="https://x.com/hsp_ecc" style="margin: 0 5px;"><img src="/static/icons/X.svg" alt="Twitter" style="width: 24px; height: 24px; vertical-align: middle;"></a>
            <a href="https://www.instagram.com/hsp.pesuecc/" style="margin: 0 5px;"><img src="/static/icons/Instagram.svg" alt="Instagram" style="width: 24px; height: 24px; vertical-align: middle;"></a>
            <a href="https://in.linkedin.com/company/hsp-pesu-ecc" style="margin: 0 1px;"><img src="/static/icons/Linkedin.svg" alt="LinkedIn" style="width: 24px; height: 24px; vertical-align: middle;"></a>
        </p>
        <p>Rendered using <a href="https://github.com/anna-ssg/anna">anna</a> ❤️</p>
    </div>
</footer>
{{end}}
